body{

    background-color: beige;

}

#tienda {

    margin: 2rem;
    width: 100%;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#vcarrito, #botonCarrito {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    background-color: skyblue;
    border-radius: 20px;
    width: 8%;
    height: 30px;
    
}