body{

    background-color: beige;

}
#vcarrito, #botonCarrito {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    background-color: skyblue;
    border-radius: 20px;
    width: 8%;
    height: 30px;
    
}